.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: #ddd;
    border-radius: 8px;
    padding: 10px;
}
.field {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.submitBtn {
    align-self: flex-end;
    width: 80px;
}
