.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr ;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    display: grid;
    padding: 10px;
}
.answer {
    display: grid;
    justify-content: right;
    align-items: flex-end;
}

.message {
    width: 300px;
    height: 30px;
    padding: 10px;
    background: #ccc;
    border-radius: 20px ;
    margin-right: 30px;
}
